body {
    background-color: hsl(218, 23%, 16%);
}

.square-background{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 400px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 30px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    padding: 5px 60px;

}

h6 {
    padding-top: 20px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    font-size: 14px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:hsl(150, 100%, 66%);
    border: none;
    padding: 15px;
    margin-top: 70px;
    position: absolute;
    top:268px;
    left: 250px;
}

button:hover {
    box-shadow: 0 1px 50px hsl(150, 100%, 66%);
    cursor: pointer;
  }

#divider {
    padding-top: 15px;
    padding-bottom: 10px;
}

#parent-container {
    position: relative;
}

@media screen and (max-width: 500px) {

    .square-background {
      width: 80%;
    }

    h2 {
        font-size: 20px;
        padding: 25px;
    }

    h6 {
        font-size: 11px;
    }

    button {
        left: 39%
    }

    #divider {
        width: 90%;
        height: auto;
      }
  }